.fear-and-greed-container {
  width: 47%;
  // height: 180px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  @include back-shadow-light;

  background-color: $backColorNoTransparency;

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 7px;
    padding: 15px;
    height: 100%;
    @include hover-light;
  }

  .fear-and-greed-index {
    display: flex;
    width: 70%;
    height: 150px;
    // margin: 0 -20px;
  }
}

@media screen and (max-width: 820px) {
  .fear-and-greed-container {
    width: 50%;
    justify-content: center;

    .fear-and-greed-index {
      display: flex;
      width: 90%;
    }
  }
}
