.searchBar {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  // background-color: yellow;


  form {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 50px;

    input[type="search"] {
      all: unset;
      width: 100%;
      height: 50px;
      padding: 0px 20px;
      border-radius: 16px;
      background: rgba(150, 151, 226, 0.18);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.379);
      backdrop-filter: blur(6.5px);
      -webkit-backdrop-filter: blur(6.5px);
      border: solid 1.9px $borderColor;
      background: rgb(17, 14, 38);
      background: linear-gradient(
        90deg,
        rgb(43, 38, 74) 10%,
        rgb(28, 28, 57) 100%
      );
      transition: 0.3s ease-in-out;

      &::-webkit-search-cancel-button {
        display: none;
      }

      &:focus {
        width: 51%;
        border: none;
        font-size: 1.1rem;
      }

      &::placeholder {
        color: $borderColor;
        background: transparent url("../../assets/images/searchLogo.svg")
          no-repeat left;
        cursor: pointer;
      }

      &::webkit-search-cancel-button {
        display: none;
      }
    }
  }
}
