.searchBar {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  // background-color: yellow;

  form {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 50px;

    input[type="search"] {
      all: unset;
      width: 80%;
      height: 50px;
      padding: 0px 20px;
      border-radius: 16px;
      background: rgba(150, 151, 226, 0.18);
      @include back-shadow-light;
      border: solid 1.9px $borderColor;
      background: rgb(17, 14, 38);
      background: linear-gradient(
        90deg,
        rgb(43, 38, 74) 10%,
        rgb(28, 28, 57) 100%
      );
      transition: 0.3s ease-in-out;

      &::-webkit-search-cancel-button {
        display: none;
      }

      &:focus {
        width: 100%;
        border: none;
        font-size: 1.1rem;
      }

      &::placeholder {
        color: $borderColor;
        background: transparent url("../../assets/images/searchLogo.svg")
          no-repeat left;
        cursor: pointer;
      }

      &::webkit-search-cancel-button {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 987px) {
  .searchBar {
    width: 95vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      input[type="search"] {
        width: 100%;
      }
    }
  }
}
